@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body{
    background-image: linear-gradient(to bottom, #19C1AD, #3C67AC);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

nav [type=text] {
    background-color:rgb(255 255 255 / 14%);
    color: white;
    border-radius: 50px;
    gap: 10px;
    padding-left: 20px;
    margin: 0px 10px;
    width: 234px;
    height: 45px;
}

.logo {
    font-size: 40px;
    color: #FF8524;
    font-weight: 700;
}

.nav-links {
    display: flex;
    font-size: 25px;
    font-weight: 300;
}

.nav-links li{
    padding: 5px 14px;
}

.nav-links li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}


.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search{
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    padding-right: 40px;
}


.input-search::placeholder{
    color:#fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
}

.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#randomSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#randomSection div {
    padding: 20px;
    font-size: 20px;
    width: 250px;
}

#jokeSection {
    width: 100%;
    padding: 20px;
    margin: 15px 196px 25px 199px;
}

#jokes {
    padding: 0 30px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
}

#jokes::-webkit-scrollbar {
    width: 8px;
}

#jokes::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

#jokes::-webkit-scrollbar-track {
    background: #ddd;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    background-clip: padding-box;
}

blockquote {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

#teamSection {
    display: flex;
    font-size: 20px;
}

input[type=number] {
    background-color:rgba(255, 255, 255, 0.14);
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 50px;
}

input[type=number]:hover, input[type=number]:focus {
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 0.5;
}

input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    transition: all .2s;
}

#checkbox {
    display: block;
    position: relative;
}

input[type=checkbox]:hover {
    background: #dddddd;
    border: 1px solid #FF8524;
}

input[type=checkbox]:checked {
    background: #FF8524;
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    transition: all .2s;
}

input[type=checkbox]:checked:after {
    content: '\2713';
    position: relative;
    top: -10px;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    transition: all .2s;
}

#category {
    background-color:rgba(255, 255, 255, 0.14);
    color: #fff;
    border-radius: 50px;
    width: 100px;
    gap: 10px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
}

#category:hover {
    background-color:rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}


#categoryOptions {
    padding: 0 !important;
    -moz-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.3);
    -webkit-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.3);
    -o-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.3);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.3);
    overflow: hidden;
    height: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
    position: relative;
}

#categoryOptions button {
    background-color:rgba(255, 255, 255, 0.14);
    color: #fff;
    border-radius: 50px;
    text-align: center;
}

#categoryOptions button:hover {
    background-color:rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

#generate, #redirectToRandomSection {
    background-color: #FF8524;
    color: white;
    border-radius: 50px;
    gap: 10px;
    margin: 20px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: 50%;
}

/*home section style*/

.home-box {
    display: flex;
    box-sizing: border-box;
    height: 380px;
    background: rgba(0, 0, 0, 0.08);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    margin: 15px 0;
}

.home-box img {
    border-radius: 100%;
    margin: 0 40px;
    width: 350px;
}

.home-slogan {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 460px;
}

.home-slogan h1 {
    font-size: 40px;
    font-weight: 400;
}

.home-slogan button {
    margin: 40px 0px;
    font-weight: 400;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.home-slogan button:hover {
    background-color: #d76b15;
}

/*team section style*/

.flexbox-container-center{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: auto;
    padding: 0px 30px;
    justify-content: center;
}

.about-chuckster {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding: 0 40px 30px;
  
}

.about-chuckster p{
    display:flex;
    justify-content: center;
    align-items:center;
}

#teamSection h2 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom:8px;
}

#teamSection h4 {
    font-size: 20px;
    font-weight: 500;
    display: flex;
}

.team-members {
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-members p {
    font-size: 15px;
    font-weight: 400;
}

.member {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    padding: 5px 70px 0;
}

.member h2, .member p {
    display: flex;
    justify-content: center;
}

.team-member-photo {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    padding-bottom: 10px;
}

.social-icons-box{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.social-icons {
    padding: 0;
}

.social-icons-box i {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 13px;
    transition: all 265ms ease-out;
}

.social-icons li {
    display: inline-flex;
    position: relative;
    font-size: 1.2em;
}

.social-icons a {
    display: flex;
    padding:0 2px;
}

.social-icons a:before {
    content: " ";
    width: 40px;
    height: 40px;
    border-radius: 20%;
    display:flex;
    background: linear-gradient(45deg, #00B5F5, #002A8F);
    transition: all 265ms ease-out;
}
        
.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}
        
.social-icons a:hover i {
    transform: scale(2);
    color: #00B5F5;
    background: -webkit-linear-gradient(45deg, #65e1e1, #9fc2d7,  #466bd9);
    -webkit-background-clip: text;
        /*the standard property 'background-clip' for compatibility when hover*/
        background-clip: text; 
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

/*footer style*/

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    opacity: 0.5;
}

footer a {
    margin: 0 10px;
}

footer a:hover {
    color:#98bbd6;
}


/*screens less than 850px*/
@media screen and (max-width: 850px) {
    nav {
        flex-direction: column;
    }
    .nav-links{
        flex-direction: column;
    }
    nav a, nav input[type=text] {
        float: none;
        text-align: left;
        margin: auto;

    }
    nav input[type=text] {
        border: 1px solid #ccc;
        width: 234px;
        height: 45px;
    }
    #jokeSection {
        margin: 18px;
    }
    main {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center !important;
    }
    .member {
        padding: 15px 40px 30px;
    }
}


/*smaller screens less than 350px*/
@media screen and (max-width: 350px) {
    .member {
        padding: 15px 0 30px;
    }
    .team-member-photo {
        max-width: 100%;
    }
}