@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body{
    background-image: linear-gradient(to bottom, #19C1AD, #3C67AC);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

nav [type=text] {
    background-color:rgb(255 255 255 / 14%);
    color: white;
    border-radius: 50px;
    gap: 10px;
    padding-left: 20px;
    margin: 0px 10px;
    width: 234px;
    height: 45px;
}

.logo {
    font-size: 40px;
    color: #FF8524;
    font-weight: 700;
}

.nav-links {
    display: flex;
    font-size: 25px;
    font-weight: 300;
}

.nav-links li{
    padding: 5px 14px;
}

.nav-links li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.mobile-menu {
    display: none;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search{
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    padding-right: 40px;
}


.input-search::placeholder{
    color:#fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
}

.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#randomSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#randomSection div {
    padding: 20px;
    font-size: 20px;
    width: 250px;
}

#jokeSection {
    width: 100%;
    padding: 20px;
    margin: 15px 196px 25px 199px;
}

#jokes {
    padding: 0 30px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
}

#jokes::-webkit-scrollbar {
    width: 8px;
}

#jokes::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

#jokes::-webkit-scrollbar-track {
    background: #ddd;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    background-clip: padding-box;
}

blockquote {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.new-joke {
    animation: fade-up 1s ease-in-out;
}

#teamSection {
    display: flex;
    font-size: 20px;
}

input[type=number] {
    background-color:rgba(255, 255, 255, 0.14);
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 50px;
}

input[type=number]:hover, input[type=number]:focus {
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 0.5;
}

input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    transition: all .2s;
}

#checkbox {
    display: block;
    position: relative;
}

input[type=checkbox]:hover {
    background: #dddddd;
    border: 1px solid #FF8524;
}

input[type=checkbox]:checked {
    background: #FF8524;
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    transition: all .2s;
}

input[type=checkbox]:checked:after {
    content: '\2713';
    position: relative;
    top: -10px;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    transition: all .2s;
}

#category {
    background-color:rgba(255, 255, 255, 0.14);
    color: #fff;
    border-radius: 50px;
    width: 100px;
    gap: 10px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
}

#category:hover {
    background-color:rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}


#categoryOptions {
    padding: 0 !important;
    -moz-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.3);
    -webkit-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.3);
    -o-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.3);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.3);
    overflow: hidden;
    height: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
    position: relative;
}

#categoryOptions button {
    background-color:rgba(255, 255, 255, 0.14);
    color: #fff;
    border-radius: 50px;
    text-align: center;
}

#categoryOptions button:hover {
    background-color:rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

#generate, #redirectToRandomSection {
    background-color: #FF8524;
    color: white;
    border-radius: 50px;
    gap: 10px;
    margin: 20px;
    font-weight: 400;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: 50%;
    transition: all 0.08s ease-in-out;
}

#generate:hover, #redirectToRandomSection:hover {
    background-color: #d76b15;
}

#generate:active, #redirectToRandomSection:active {
    background-color: #b85a0f;
    transform: translateY(2px) scale(0.98);
}

/*home section style*/

.home-box {
    display: flex;
    box-sizing: border-box;
    height: 380px;
    background: rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    margin: 15px 0;
}

/*home section - carousel - slide 1*/
.image1-carousel{
    border-radius: 100%;
    margin: 0 40px 0 20px;
    width: 340px;
}

.home-slogan {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.home-slogan h1 {
    font-size: 40px;
    font-weight: 400;
}

.home-slogan button {
    margin: 40px 0 !important;
}

/*home section - carousel - slide 2*/
.box2 {
    display: flex;
}

.image2-carousel {
    width: 320px;
    padding-left:40px;
    padding-right: 25px;
}

.home-slogan2 {
    width: 540px;
    display:flex;
    flex-direction:column;
}

.home-slogan2 h1 {
    font-size: 34px;
    display: flex;
    padding:20px 0;
    margin-left:22px;
}

/*home section - carousel - hide the images by default*/
.mySlides {
    display: none;
}

/*home section - carousel - prev and next buttons*/
.prev, .next {
    cursor: pointer;
    width: auto;
    margin-bottom: 22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.7s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  
.next {
    border-radius: 5px 0 0 5px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/*home section - carousel - the dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.dot-container {
    text-align:center;
}


/*home section - carousel - fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*team section style*/

.flexbox-container-center{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: auto;
    padding: 0px 30px;
    justify-content: center;
}

.about-chuckster {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding: 0 40px 30px;
  
}

.about-chuckster p{
    display:flex;
    justify-content: center;
    align-items:center;
}

#teamSection h2 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom:8px;
}

#teamSection h4 {
    font-size: 20px;
    font-weight: 500;
    display: flex;
}

.team-members {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 1rem 0 2.5rem;
}

.team-members p {
    font-size: 15px;
    font-weight: 400;
}

.member {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.7rem 1.6rem;
    background: rgba(0, 0, 0, 0.07);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: all 265ms ease-out;
}

.member:hover {
    padding: 1.9rem 1.8rem;
    margin-bottom:20px;
    background: rgba(0, 0, 0, 0.04);
    transition: all 265ms ease-out;
}


.member h2, .member p {
    display: flex;
    justify-content: center;
}

.team-member-photo {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    padding-bottom: 10px;
}

.social-icons-box{
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
}


.social-icons {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons-box i {
    align-items:center;
    transition: all 265ms ease-out;
    justify-content: center;
    padding: 0.4rem;
    border-radius:6px;
}

/*github icon*/
.github {
    background-color: black;
}

/*twitter icon*/
.twitter {
    background-color:#2196F3;
}

/*linkedin icon*/
.linkedin {
    background-color:#0e63a7;
}

.social-icons li {
    display: inline-flex;
    position: relative;
    font-size: 1.2em;
}

.social-icons a {
    display: flex;
    padding: 2px 6px;
}

.social-icons a:before {
    content: " ";
    display:flex;
    transition: all 265ms ease-out;
}
        
.social-icons a:hover i {
    transform: scale(2);
    color: #00B5F5;
    background: -webkit-linear-gradient(45deg, #65e1e1, #9fc2d7,  #466bd9);
    -webkit-background-clip: text;
        /*the standard property 'background-clip' for compatibility when hover*/
        background-clip: text; 
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

/*footer style*/

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    opacity: 0.5;
}

footer a {
    margin: 0 10px;
}

footer a:hover {
    color:#98bbd6;
}


@media screen and (max-width: 950px) {

    /*main*/

    main {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center !important;
    }

    /*navbar*/

    /*hide all links*/
    .nav-links li, .search-box{
        transform: scale(0);
        font-size: 1px;
        height:2px;
        transition: all 520ms  cubic-bezier(0, 0.110, 0.35, 1.3);
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        right: 5%;
        font-size: 22px;
    }

    /*he "responsive" class is added to the nav-links with JavaScript when the user clicks on the icon.*/

    .nav-links.responsive {
        margin-bottom:50px;
    }

    .nav-links.responsive li, .nav-links.responsive .search-box {
        float: none;
        display: block;
        text-align: left;
        padding: 20px 0px;
        font-size: 25px;
        height:70px;
        transform: scale(1);
        transition: all 570ms cubic-bezier(0, 0.110, 0.35, 1.3);
    }

    .navbar {
        align-items: stretch;
        flex-direction: column;
        gap: 1.2rem;
    }

    .logo-and-menu-btn-container {
        display: flex;
        align-items: center;
    }

    nav .responsive li, nav .responsive input[type=text] {
        margin: auto;
    }

    nav .responsive input[type=text] {
        border: 1px solid #ccc;
    }

    .nav-links {
        display: block;
    }

    /*main section*/
    
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*home section*/
    
    .home-box {
        flex-direction:column;
        margin-bottom: 60px;
        height: 370px;
        width:350px;
        padding: 0 30px;
        margin-top: -43px;
    }

    /*home section - carousel - slide 1*/
    .home-box .image1-carousel{
        position:relative;
        border-radius: 100%;
        margin: auto;
        width: 180px;
        bottom:25px;
    }
    
    .home-slogan {
        width: 300px;
    }
    
    .home-slogan h1 {
        font-size:19px;
        max-width: 250px;
        position: relative;
        left: 23px
    }
    
    .home-slogan #redirectToRandomSection {
        font-size:17px;
       
    }
   .home-slogan button {
        margin: 15px 0 50px 0 !important;
        position: relative;
        right: 5px;
    }

    /*home section - carousel - slide 2*/
    .home-slogan2 {
    width: 297px;
    display:flex;
    margin-top:-40px;
    }
    
    .home-slogan2 h1 {
        font-size: 20px;
        padding:20px 0;
        margin:auto;
    }

    .image2-carousel {
        margin-top:40px;
         width: 200px;
    }

    /*home section - carousel - prev and next button slideshow*/
    .prev, .next {
        cursor: pointer;
        position:relative;
        width: auto;
        margin: auto;
        padding: 14px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.7s ease;
        border-radius: 0 4px 4px 0;
        user-select: none;
        background: rgb(0 0 0 / 0.08);
    }

    .prev {
        right:54.5%;
    }
    
    .next {
        left:54.5%;
        border-radius: 4px 0 0 4px;
    }
    
    .prevCard1 {
        top: 44.8%;
    }
    .prevCard2 {
         top: 44.9%;
    }
    
    .nextCard1 {
        bottom:62.1%;
    }
    
    .nextCard2 {
        bottom:47.3%;
    }

    /*home section - dot container below carousel*/
    .dot-container {
        text-align: center;
        margin-top: -47px;
        padding-bottom: 20px;
    }

    /*jose section*/

    #jokeSection {
        margin: 18px;
    }

    /*team section*/

    .team-members {
        flex-direction:column;
    }

    .member {
        padding: 15px 40px 30px;
    }
}


/*smaller screens less than 400px*/
@media screen and (max-width: 400px) {

    main {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    /*home section*/

    /*home section - carousel -*/
    .home-box img {
        max-width:190px;
    }
    
    .home-box {
        height: 370px;
        width:275px;
        padding-bottom:40px;
    }
    
    /*home section - carousel - slide 1*/
    .home-slogan {
        margin-top:5px;
        width: 210px;
    }
    
    .home-slogan h1 {
        font-size: 18px;
        width: 213px;
        margin-left:-30px;
    }
    
    .home-slogan #redirectToRandomSection {
        font-size: 15px;
        justify-content: center;
        position:absolute;
        left:25%
    }
    
    /*home section - carousel - slide 2*/
    .home-slogan2 {
        padding: 0 20px;
    }
    
    .home-slogan2 h1 {
        font-size: 19px;
        padding:10px 20px;
       
    }

     .image2-carousel {
        margin-top: 45px
    }

    /*home section - carousel - prev and next button slideshow*/
     .prev {
        right:55.8%;
    }
    
    .next {
        left:55.8%;
        border-radius: 4px 0 0 4px;
    }
    
    .prevCard1 {
        top: 50.5%;
    }
    .prevCard2 {
         top: 50.6%;
    }
    
    .nextCard1 {
        bottom:38.5%;
    }
    
    .nextCard2 {
        bottom:52.4%;
    }

    /*team section*/

    .member {
        padding: 15px 0 30px;
    }
    .team-member-photo {
        max-width: 100%;
    }
}